opencv-2.4.13.2.zip filter=lfs diff=lfs merge=lfs -text
ros-indigo-apollo-2.1.2-x86_64.tar.gz filter=lfs diff=lfs merge=lfs -text
bazel-0.5.3-installer-linux-x86_64.sh filter=lfs diff=lfs merge=lfs -text
Miniconda2-latest-Linux-x86_64.sh filter=lfs diff=lfs merge=lfs -text
ceres-solver-good.tar.gz filter=lfs diff=lfs merge=lfs -text
fast-rtps.tar.gz filter=lfs diff=lfs merge=lfs -text
deepstream_sdk_v4.0.2_jetson.tbz2 filter=lfs diff=lfs merge=lfs -text
